html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
:root {
    --primary-color: #3498db; /* Blue */
    --secondary-color: #2c3e50; /* Dark Blue */
    --accent-color: #e74c3c; /* Red */
    --text-color: #2c3e50; /* Dark Blue */
    --background-color: #ecf0f1; /* Light Gray */
    --footer-background-color: #bdc3c7; /* Gray */
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--accent-color);
}

.navbar-light .navbar-brand {
    color: var(--primary-color);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--secondary-color);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--accent-color);
}

.footer {
    background-color: var(--footer-background-color);
    color: white;
}
.form-group {
    margin-bottom: 15px;
}

input, button {
    margin-top: 5px;
    margin-bottom: 5px;
}
button {
    padding: 5px 15px;
}
form {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button, .btn {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: var(--accent-color);
}